<div class="main-component" >
  
  <div class="pages section" >
    
    <div class="pages-head section" >
      <h3 >Suas Questões</h3 >
    </div >
    
    <mat-accordion >
      <mat-expansion-panel *ngFor="let question of questions | async; let i = index, let first = first" [expanded]="first" >
        <mat-expansion-panel-header >
          <mat-panel-title >
            <h6 ># {{ i + 1}}</h6 >
          </mat-panel-title >
          <mat-panel-description >
            <span *ngFor="let star of getStars(question.rating)" >
              <mat-icon *ngIf="star == 0" >star_border</mat-icon >
              <mat-icon style="color: goldenrod" *ngIf="star == 1" >star</mat-icon >
            </span >
          </mat-panel-description >
          <mat-panel-description >
            <a mat-button [routerLink]="['edit', question.id]" >
              <mat-icon >
                edit
              </mat-icon >
            </a >
          </mat-panel-description >
          <mat-panel-description >
            <a mat-button (click)="delete(question)">
              <mat-icon >
                delete
              </mat-icon >
            </a>
          </mat-panel-description >
        </mat-expansion-panel-header >
        <div class="row" >
          <div *ngIf="question.image != null" class="col s6" >
            <img class="responsive-img" src="{{question.image}}" >
          </div >
          <div class="col" [className]="question.image != null ? 's6' : 's12'" >
            <ng-katex-paragraph [paragraph]="question.question"></ng-katex-paragraph>
          </div >
        </div >
      </mat-expansion-panel >
    </mat-accordion >
    
  </div >
  
  <div class="fab" >
    <a color="primary" mat-fab class="mat-form-field-can-float" routerLink="add" >
      <mat-icon >add</mat-icon >
    </a >
    <a color="primary" mat-fab class="mat-form-field-can-float" routerLink="search" >
      <mat-icon >search</mat-icon >
    </a >
  </div >

  
  
</div >
