<div class="pages section spa" id="registration" >
  <div class="container" >
    <div class="pages-head" >
      <h3 >CADASTRO</h3 >
    </div >
    <div class="login" >
      <div class="row" >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
          
          <div class="input-field" >
            <label for="name" ></label >
            <input id="name" type="text" formControlName="name" class="form-control" placeholder="Nome" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback" >
              <div *ngIf="f.name.errors.required" >Campo obrigatório</div >
            </div >
          </div >
  
  
          <div class="input-field" >
            <label for="username" ></label >
            <input id="username" type="text" formControlName="username" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
              <div *ngIf="f.username.errors.required" >Campo obrigatório</div >
            </div >
          </div >
  
  
          <div class="input-field">
            <label for="password"></label>
            <input id="password" type="password" formControlName="password" class="validate" placeholder="Senha" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Campo obrigatório</div>
              <div *ngIf="f.password.errors.minlength">Mínimo de 6 caracteres</div>
            </div>
          </div>
          
          <button class="button-default" id="loginBtn" >Cadastrar</button >
          <a routerLink="/login" > Login</a >
        </form >
      </div >
    </div >
  </div >
</div >
