<mat-toolbar >
  <mat-toolbar-row >
    <div class="site-brand" >
      <a routerLink="/" ><h1 >{{ title }}</h1 ></a >
    </div >
    <span class="menu-spacer" ></span >
    <a mat-button>
      <mat-icon (click)="sidenav.toggle()" >person</mat-icon >
    </a>
  </mat-toolbar-row >
</mat-toolbar >

<mat-sidenav-container >
  <mat-sidenav #sidenav position="end">
    <mat-nav-list >
      <span class="menu-spacer" ></span >
      <a mat-list-item [routerLink]="'/'" > Início </a >
      <a mat-list-item [routerLink]="'/question'" > Questões </a >
      <a mat-list-item [routerLink]="'/quiz'" > Questionários </a >
      <a mat-list-item [routerLink]="'/activity'" > Atividades </a >
    </mat-nav-list >
    <mat-nav-list class="bottom">
      <a mat-list-item  (click)="sidenav.toggle()"> <mat-icon>logout</mat-icon>Sair</a >
    </mat-nav-list>
  </mat-sidenav >
  <mat-sidenav-content >
    <div style="height: 88vh;" >
      <router-outlet ></router-outlet >
    </div >
  </mat-sidenav-content >
  
</mat-sidenav-container >

<div class="footer">
  <div class="copyright">
    <span>© 2019 All Right Reserved</span>
  </div>
</div>
