<Fab ios:visibility="collapsed" icon="res://icon" class="fab-button"></Fab>
<ActionBar class="action-bar">
    <ActionItem ios:visibility="collapsed"  (tap)="onDrawerButtonTap()">
        <button text="&#xf0c9;" class="fa action-bar-button"></button>
    </ActionItem>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Quizzing"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf057;"></Label>
    <Label class="page-placeholder" text="Nenhuma Questão Encontrada"></Label>
</GridLayout>